Repository cofob/mineflake, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, cli, nix, packaging: servers, packaging: plugins, packaging, documentation, github_actions, dependencies

.github/labeler.yml:

rust:
- "**.rs"
- "cli/**"

cli:
- "cli/**"

nix:
- "**.nix"
- "pkgs/**"

"packaging: servers":
- "pkgs/servers/**"

"packaging: plugins":
- "pkgs/plugins/**"

packaging:
- "pkgs/plugins/**"
- "pkgs/servers/**"

documentation:
- "docs/**"

github_actions:
- ".github/**"

dependencies:
- "flake.lock"
- "cli/Cargo.lock"
- "cli/Cargo.toml"

Update nixpkgs version
  flake.lock
  shell.nix
Labels: nix, dependencies

Remove code duplication in flake.nix
  flake.nix
Labels: nix

Fix nix run command in docs
  docs/docs/index.md
Labels: documentation

Fix flake.nix
  flake.nix
Labels: nix

Fix clippy error
  cli/src/utils/merge.rs
Labels: rust, cli

WIP Rewrite
  flake.lock
  flake.nix
  pkgs/bungeecord/package.nix
  pkgs/default.nix
  pkgs/paper/bukkit.yml
  pkgs/paper/commands.yml
  pkgs/paper/eula.txt
  pkgs/paper/package.nix
  pkgs/paper/paper-global.yml
  pkgs/paper/paper-world-defaults.yml
  pkgs/paper/spigot.yml
  pkgs/plugins/advancedban/default.nix
  pkgs/plugins/cleanmotd/default.nix
  pkgs/plugins/coreprotect/config.yml
  pkgs/plugins/coreprotect/default.nix
  pkgs/plugins/default.nix
  pkgs/plugins/discordsrv/default.nix
  pkgs/plugins/shortbin.nix
  pkgs/servers/default.nix
  pkgs/servers/shortbin.nix
  pkgs/servers/waterfall/config.yml
  pkgs/servers/waterfall/default.nix
  pkgs/spigot.nix
  pkgs/velocity/bstats.txt
  pkgs/velocity/deps.json
  pkgs/velocity/package.nix
  pkgs/waterfall/config.yml
  pkgs/waterfall/package.nix
  pkgs/waterfall/waterfall.yml
  shell.nix
Labels: nix, packaging: servers, packaging: plugins, packaging, dependencies
